<form class="form-group" action='/users' method="POST">
  <label for="username">Username:<input class="form-control" name="username" type="text" placeholder="username" /></label>
  <label for="password">Password:<input class="form-control" name="password" type="password" placeholder="password"/></label>
  <button type="submit">Register</button>
</form>
