body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#rps {
  text-align: center;
  width: 95vw;
}

form {
  width: 25vh;
  margin: 0 auto;
  float: none;
}

img {
  height: 20vh;
}
